doctype html
html(lang="en")
  head
    title Problem Definition

    meta(name="description",
         content="On the importance of problem definition in machine learning.")
    meta(name="author", content="Yanir Seroussi")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(rel="stylesheet", href="css/reveal.css")
    link(rel="stylesheet", href="css/theme/night.css")
    link(rel="stylesheet", href="lib/css/zenburn.css")
    link(rel="stylesheet", href="custom.css")

    // Print and PDF exports
    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

    <!--[if lt IE 9]><script src="lib/js/html5shiv.js"></script><![endif]-->

  body
    .reveal: .slides
      section
        h1 Problem Definition

      section
        section
          h2 Common data science problems

          p.
            "We have all this data, what can we do with it?"<br>
            "I want my big data thing to perform better"<br>
            "Give me actionable analytics about our customers"

          a(href="http://dilbert.com/strip/2013-01-09")
            img(src="img/dilbert-actionable-analytics.gif")

        section
          h2 Better-defined problems

          ul
            li.fragment Build a model to predict sales of a marketing campaign
            li.fragment Create a system that runs campaigns that automatically adapt to customer feedback
            li.fragment Identify key objects in images
            li.fragment Improve clickthrough rates on search engine results
            li.fragment Detect whale calls from underwater recordings to prevent collisions

      section
        section
          h1 Steps to solving data science problems

        section
          h2 Steps to solving data science problems

          h1 #1: Figure out what the problem is

        section
          h2 Steps to solving data science problems

          h1 #2: Find out how the solution will be measured

        section
          h2 Steps to solving data science problems

          h1 #3: "Solve" problem

        section
          h2 Solve problem?

          a(href="http://pn.ispirt.in/practical-mantras-for-lean-startup/")
            img(src="img/build-measure-learn.jpg")

        section
          h2 Solve problem with ML?

          a(href="http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html")
            img(src="img/scikit-learn-map.png")

      section
        h2 Exploring the ML map

        ul
          li Base assumption: you have data and a rough idea what you want to find
          li All methods require <b>features</b> as input
          li Four main areas:
            ul
              li Supervised classification
              li Supervised regression
              li Unsupervised clustering
              li Dimensionality reduction

      section
        section
          h3 Supervised classification: Definition

          p <b>Supervised:</b> we have labelled data to train on
          p <b>Classification:</b> need to predict/infer the class/category of each instance

        section
          h3 Supervised classification: Example #1

          p Classifying iris species using k-nearest-neighbours

          a(href="http://scikit-learn.org/stable/auto_examples/neighbors/plot_classification.html")
            img.method-example(src="img/supervised-classification-iris-knn.png")

        section
          h3 Supervised classification: Example #2

          p Classifying spam emails with support vector machines

          a(href="http://scikit-learn.org/stable/auto_examples/neighbors/plot_classification.html")
            img.method-example(src="img/supervised-classification-svm.png", style="background: white; padding: 5px")

      section
        section
          h3 Supervised regression: Definition

          p <b>Supervised:</b> we have labelled data to train on
          p <b>Regression:</b> need to predict/infer a numeric quantity for each instance

        section
          h3 Supervised regression: Example #1

          p Linear regression to predict diabetes progression

          a(href="http://scikit-learn.org/stable/auto_examples/linear_model/plot_ols.html")
            img.method-example(src="img/supervised-regression-diabetes-linear.png")

        section
          h3 Supervised regression: Example #2

          p Predicting rent with decision trees

          a(href="https://bigml.com/user/ashikiar/gallery/model/52dda1b90c0b5e2904000187/tree")
            img.method-example(src="img/supervised-regression-rent-decision-tree.png")

      section
        section
          h3 Unsupervised clustering: Definition

          p <b>Unsupervised:</b> no labelled training data
          p <b>Clustering:</b> group together similar instances, can be soft or hard

        section
          h3 Unsupervised clustering: Example #1

          p Discovering topics in texts with latent Dirichlet allocation

          a(href="http://cacm.acm.org/magazines/2012/4/147361-probabilistic-topic-models/fulltext")
            img.method-example(src="img/unsupervised-clustering-lda.jpg")

        section
          h3 Unsupervised clustering: Example #2

          p Segmenting images with spectral clustering

          a(href="http://scikit-learn.org/stable/auto_examples/cluster/plot_lena_segmentation.html")
            img.method-example(src="img/unsupervised-clustering-spectral.png")

      section
        section
          h3 Dimensionality reduction: Definition

          p <b>Dimensionality:</b> number of different feature types
          p <b>Reduction:</b> decreasing the feature number by selection or transformation

        section
          h3 Dimensionality reduction: Example #1

          p Decomposing faces with principal component analysis

          a(href="http://scikit-learn.org/stable/auto_examples/decomposition/plot_faces_decomposition.html")
            img(src="img/dimensionality-reduction-original-faces.png", width="450")
            | &nbsp;
            img(src="img/dimensionality-reduction-pca-faces.png", width="450")

        section
          h3 Dimensionality reduction: Example #2

          p Discovering movie themes with matrix factorisation

          a(href="http://www2.research.att.com/~volinsky/papers/ieeespectrum.pdf")
            img.method-example(src="img/dimensionality-reduction-matrix-factorisation.png")

      section
        section
          h2 Beyond the map...

          ul
            li Preprocessing
            li Visualisation
            li Language processing: parse trees, part-of-speech tagging
            li Generation: written language, speech, movement
            li Active learning
            li And much more...

        section
          h2 Beyond the map...

          h1 Thinking and putting everything together

      section
        h2 The human behind the machine

        p Why are data scientists needed?

        ul
          li Ask questions
          li Reduce and rephrase problems
          li Come up with reasonable metrics
          li Choose the right tools
          li Handle data drift
          li Understand business needs
          li Make it work in production

      section
        h2 Questions?

    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        dependencies: [
          {
            src: 'lib/js/classList.js',
            condition: function() { return !document.body.classList; }
          },
          {
            src: 'plugin/markdown/marked.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/markdown/markdown.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() { hljs.initHighlightingOnLoad(); }
          },
          {
            src: 'plugin/zoom-js/zoom.js',
            async: true
          },
          {
            src: 'plugin/notes/notes.js',
            async: true
          }
        ]
      });
