doctype html
html(lang="en")
  head
    title Demystifying Buzzwords

    meta(name="description",
         content="Clarifying the meaning behind some data and machine learning buzzwords.")
    meta(name="author", content="Yanir Seroussi")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(rel="stylesheet", href="css/reveal.css")
    link(rel="stylesheet", href="css/theme/night.css")
    link(rel="stylesheet", href="lib/css/zenburn.css")
    link(rel="stylesheet", href="custom.css")

    // Print and PDF exports
    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

    <!--[if lt IE 9]><script src="lib/js/html5shiv.js"></script><![endif]-->

  body
    .reveal: .slides
      section
        h1 Demystifying Buzzwords

      section
        h2 Tech + Data =<br>Buzzword Extravaganza
        a(href="http://blog.stephenwolfram.com/2018/04/buzzword-convergence-making-sense-of-quantum-neural-blockchain-ai/")
          img(src="img/quantum-neural-blockchain-ai.png")

      section
        section
          h2 Big Data: An Enterprise Term
          a(href="https://medium.com/@wtrsld/big-data-made-me-do-it-5bfc3f46871c")
            img(src="img/big-data-enterprise.png")

        section
          h2 Big Data Knows All
          a(href="href=http://dilbert.com/strips/comic/2012-07-29/")
            img(src="img/dilbert-big-data.jpg")

        section
          h2 Big Data... or just a Small Box?
          a(href="https://giphy.com/gifs/afvpets-cats-pets-afv-3oEdv889IaMYigqgZa")
            img(src="img/big-data-small-box.gif")

      section
        section
          h2 Data Science: 2012 Edition

          img(src="img/data-scientist-definition.png")

          img(src="img/data-skill-continuum.png")

        section
          h2 Data Science: Too Exclusive?

          a(href="https://datascience.stackexchange.com/a/2406")
            img(src="img/data-scientist-venn-diagram-example.png")

        section
          h2 Data Science: 2018 Edition
          blockquote.
            ...we can define data science as a field that deals with description, prediction, and causal inference from
            data in a manner that is both domain-independent and domain-aware, with the ultimate goal of supporting
            decisions.

          .img-source-caption.
            - Yanir Seroussi,
            <a href="https://yanirseroussi.com/2018/07/22/defining-data-science-in-2018/">Defining Data Science in 2018</a>

      section
        section
          h2 AI: More Venn Diagram Fun?

          a(href="https://www.kdnuggets.com/2016/03/data-science-puzzle-explained.html")
            img(src="img/ai-data-science-diagram.jpg")

        section
          h2 AI: The Hype Won't Die

          a(href="https://www.slideshare.net/melsb/intelligence-augmentation-the-nextgen-ai")
            img(src="img/ai-hype-cycle.jpg")

        section
          h2 AI and I (2004-2018)

          img(src="img/what-would-you-say-you-do-here.jpg")

      section
        section
          h2 Machine Learning by Example

          a(href="https://www.xenonstack.com/blog/data-science/log-analytics-deep-machine-learning-ai/")
            img(src="img/machine-learning-vs-deep-learning.png", style="background: white")

        section
          h2 ML: A Solved Problem?

          a(href="http://www.shivonzilis.com/machineintelligence")
            img(src="img/machine-intelligence-landscape-core-technologies.png")

          img(src="img/ben-hamner-black-box-ml.png")

        section
          h2 Machine Learning Map

          a(href="http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html")
            img(src="img/scikit-learn-map.png")

        section
          h2 Machine Learning Pipeline

          a(href="https://www.infoworld.com/article/3198252/machine-learning/data-in-intelligence-out-machine-learning-pipelines-demystified.html")
            img(src="img/machine-learning-pipeline.jpg")

      section
        h2 Questions?

    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        dependencies: [
          {
            src: 'lib/js/classList.js',
            condition: function() { return !document.body.classList; }
          },
          {
            src: 'plugin/markdown/marked.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/markdown/markdown.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() { hljs.initHighlightingOnLoad(); }
          },
          {
            src: 'plugin/zoom-js/zoom.js',
            async: true
          },
          {
            src: 'plugin/notes/notes.js',
            async: true
          }
        ]
      });
