doctype html
html(lang='en')
  head
    title Reef Life Survey flashcards

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    link(rel='stylesheet', href='style.min.css')

    body.loading
      .reveal: .slides

      script#header-template(type='text/template')
        section
          h1 Reef Life Survey flashcards
          ul
            li Navigate using the arrows or swipe gestures.
            li.
              Showing <%= shownPhotos %> out of the <%= totalPhotos %> photos of species that were recorded on at
              least <input class="js-min-freq" type="number" min="0" max="100" step="1" value="<%= minFreq %>">% of
              surveys in the selected sites. Change the percentage or <a href="#" class="js-resample">tap here</a> to
              see a different sample of photos.

      script#flashcard-template(type='text/template')
        section
          section
            h4 Identify this animal
            h5: small Go down to see its name

            a(href!='<%= image %>', target='_blank'): img.fish-img(src!='<%= image %>')
            .img-source-caption
              a(href!='<%= url %>', target='_blank') Species page
              br
              | Frequency: <%= freq %>%

          section
            h3: i <%= name %>
            | <%= commonName %>

            p: a.small(href='#') Back to start

      script(src='main.min.js')
