doctype html
html(lang='en')
  head
    title Reef Life Survey flashcards

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    link(rel='stylesheet', href='style.min.css')

    body.loading
      .reveal: .slides

      script#header-template(type='text/template')
        section
          ul(class!="<%= numSelectedSites ? '' : 'hidden' %>")
            li Navigate using the arrows or swipe gestures.
            li.
              Showing
              <%= numPhotosOptions ? '<select class="js-num-photos">' + numPhotosOptions + '</select> out of' : '' %>
              the <%= totalPhotos %> photos of species that were recorded on at least
              <input class="js-min-freq" type="number" min="0" max="100" step="1" value="<%= minFreq %>">% of
              <select class="js-method"><%= methodOptions %></select> surveys in the selected sites. Change the
              percentage or method, or <a href="#" class="js-resample">tap here</a> to see a different sample of photos.
            li.
              To test your knowledge, write the exact scientific name in the box below each photo and press enter.
              You can also <a href="#" class="js-start-test">start a timed test</a>.
            li.
              Tips: Press \ while on an image slide to focus on the text box. Press ? for other keyboard shortcuts.
          ul
            li.
              To select sites, use the <a href="<%= frequencyExplorerUrl %>" target="_blank">Frequency
              Explorer</a> or choose a
              <a href="https://en.wikipedia.org/wiki/List_of_marine_ecoregions" target="_blank">marine ecoregion</a>:
              <select class="js-ecoregion"><%= ecoregionOptions %></select>

      script#footer-template(type='text/template')
        section
          h2 The end
          h4.js-running-score
          h4.js-test-info
          h4.test-active-hidden <a href="#">Go back to the first slide</a> to view a different set of photos.
          p.small.js-review-mistakes.test-active-hidden

      script#flashcard-template(type='text/template')
        section
          section
            p.center Identify this animal
            p.center.test-active-hidden: small Go down to see its name

            a(href!='<%= image %>', target='_blank'): img.fish-img(src!='<%= image %>')
            .img-source-caption.test-active-hidden
              .start-link: a(href='#') Back to start
              .species-link Frequency: <%= freq %>% | <a href="<%= url %>" target="_blank">Species page</a>

            input.js-scientific-name(type='text', placeholder='Enter scientific name', data-name!='<%= name %>',
                                     autocomplete='off', title='Press backslash to focus, enter to submit')
            span.input-validation
            .js-correct-answer.small.test-active-hidden.hidden <b>Correct answer:</b> <i><%= name %></i><br>&mdash;
            .small.js-running-score
            .small.js-test-info

          section(data-transition-speed='fast')
            .test-active-hidden
              .scientific-name: i <%= name %>
              | <%= commonName %>

              p: a.small(href='#') Back to start

      script(src='main.min.js')
