doctype html
html(lang='en')
  head
    title Reef Life Survey flashcards

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    link(rel='stylesheet', href='style.min.css')

    body
      .reveal: .slides
        section
          h1 Reef Life Survey flashcards
          ul
            li Navigate using the arrows or swipe gestures
            li.
              Refresh the page to change the order of the cards.
              Only <span id="fish-number"></span> photos are shown per refresh.

      script#fish-slide-template(type='text/template')
        section
          section
            h2 Identify this animal
            h4 Go down to see its name

            img.fish-img(src!="<%= local_image ? 'img/' + local_image : image %>")
            .img-source-caption.
              Source: <a href="<%= source %>" target="_blank"><%= source.split('/')[2] %></a><br>
              Frequency: <%= Math.round(freq * 10000) / 100 %>%

            p.small: a.restart-link(href='#') Back to start

          section
            h3: i <%= name %>
            | <%= common_name %>
            br

      // TODO: use the API instead
      script(src='/tools/rls/species.json')
      script(src='/tools/rls/prom-area-ozmuseum-fixed.json')
      script(src='main.js')
