@import '../node_modules/reveal.js/css/reveal.css';
@import '../node_modules/reveal.js/css/theme/night.css';
@import '../common.css.tmp';

.reveal .slides {
  p {
    text-align: left;
  }

  .small {
    font-size: 14px;
    line-height: 14px;
  }

  ul, ol {
    display: block;
  }

  img {
    border: 0;
  }

  .fish-img {
    max-height: 500px;
  }

  .img-source-caption {
    .small;
    text-align: right;
    padding-bottom: 10px;
  }
}
