doctype html
html(lang="en")
  head
    title How to be data-driven off a cliff

    meta(name="description",
         content="Everyone wants to be data-driven these days. However, it is very easy to be data-driven off a " +
                 "cliff. This talk discusses seven of the ways this can happen.")
    meta(name="author", content="Yanir Seroussi")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(rel="stylesheet", href="css/reveal.css")
    link(rel="stylesheet", href="css/theme/night.css")
    link(rel="stylesheet", href="lib/css/zenburn.css")
    link(rel="stylesheet", href="custom.css")

    // Print and PDF exports
    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

    <!--[if lt IE 9]><script src="lib/js/html5shiv.js"></script><![endif]-->

  body
    .reveal: .slides
      section
        h1 How to be<br>data-driven<br>
          small (off a cliff)
        h4 Yanir Seroussi
        h6.
          <a href="https://yanirseroussi.com" target="_blank">yanirseroussi.com</a>
          |
          <a href="https://twitter.com/yanirseroussi" target="_blank">@yanirseroussi</a>
          |
          <a href="https://linkedin.com/in/yanirseroussi" target="_blank">linkedin.com/in/yanirseroussi</a>
        h4.
          Note: This talk is also available as
          <a target="_blank"
          href="https://yanirseroussi.com/2016/08/21/seven-ways-to-be-data-driven-off-a-cliff/">a blog post</a>

      section
        h2 Motivation: It's time to accept reality and become data-driven
        img(src="img/five-stages-of-data-driven-marketing.jpg")

      section
        h2 Here's how...

      section
        h2 #1: Disregard uncertainty
        img(src="img/standard-deviation-diagram.png")

      section
        h2 #2: Treat unobserved quantities as observed
        img(src="img/rba-estimates-uncertainty.png")

      section
        h2 #3: Trust your data's correctness
        img(src="img/dilbert-average-multiply-data.gif")

      section
        h2 #4: Believe your data is complete
        img(src="img/iceberg.jpg")

      section
        h2 #5: Track vanity metrics
        img(src="img/bad-metric.png", height=500)

      section
        h2 #6: Don't worry about your incompetencies
        img(src="img/competence-hierarchy.jpg")

      section
        h2 #7: Ignore expert advice
        img(src="img/sexy-hal-varian.jpg")

      section
        h2 Questions?

    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        dependencies: [
          {
            src: 'lib/js/classList.js',
            condition: function() { return !document.body.classList; }
          },
          {
            src: 'plugin/markdown/marked.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/markdown/markdown.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() { hljs.initHighlightingOnLoad(); }
          },
          {
            src: 'plugin/zoom-js/zoom.js',
            async: true
          },
          {
            src: 'plugin/notes/notes.js',
            async: true
          }
        ]
      });
