doctype html
html(lang="en")
  head
    title Exploratory Data Analysis

    meta(name="description",
         content="A brief overview of exploratory data analysis with Reef Life Survey data.")
    meta(name="author", content="Yanir Seroussi")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(rel="stylesheet", href="css/reveal.css")
    link(rel="stylesheet", href="css/theme/night.css")
    link(rel="stylesheet", href="lib/css/zenburn.css")
    link(rel="stylesheet", href="custom.css")

    // Print and PDF exports
    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

    <!--[if lt IE 9]><script src="lib/js/html5shiv.js"></script><![endif]-->

  body
    .reveal: .slides
      section
        h1 Exploratory Data Analysis

      section
        section
          h1 Let's break it up...

        section
          h2 Exploratory

          p.fragment
            a(href="https://en.oxforddictionaries.com/definition/explore") explore
            br
            i.indent travel through (an unfamiliar area) in order to learn about it

          p.fragment
            a(href="https://en.oxforddictionaries.com/definition/wander") wander
            br
            i.indent walk or move in a leisurely or aimless way

          aside.notes
            ul
              li Start with questions or a rough plan
              li Be open to learning new things

        section
          h2 Data

          p Relevant to the topic of exploration
          p May require collection
          p Size doesn't matter

        section
          h2 Analysis

          p Last but not least
          p Tools don't matter

      section
        section
          h1 Question!

        section
          h2 Me: How likely am I to see a wobbegong on my next dive?

        section
          h2 You: A wobbe-what?

        section
          h2 Me: A wobbegong!

          a(href="https://flic.kr/p/pW6u4A")
            img(src="img/wobbegong.jpg")

        section
          h2 You: Let's check Wikipedia...

          blockquote: p.
            Wobbegong is the common name given to the 12 species of carpet sharks in the family Orectolobidae. They are
            found in shallow temperate and tropical waters of the western Pacific Ocean and eastern Indian Ocean,
            chiefly around Australia and Indonesia, although one species [...] occurs as far north as Japan. The word
            wobbegong is believed to come from an Australian Aboriginal language, meaning "shaggy beard".

        section
          h2 You: What kind of wobbegong?

          a(href="https://reeflifesurvey.com/species/search.php")
            img(src="img/wobbegong-species.png")

        section
          h2 Me: Any kind will do, thanks!

      section
        section
          h1 Reef Life Survey Data

        section
          h2 What is Reef Life Survey?

          a(href="https://reeflifesurvey.com/volunteer-spotlight-yanir-seroussi/")
            img(src="img/reef-life-survey-me.jpg")

          aside.notes
            p Introduce Reef Life Survey (RLS) in a sentence
            p How do I know about it (my involvement)

        section
          h2 How is RLS data collected?

          a(href="https://reeflifesurvey.com/reef-life-survey/about-rls/methods/")
            img(src="img/reef-life-survey-methods.png")

        section
          h2 Getting the data

          a(href="https://reeflifesurvey.com/reef-life-survey/survey-data/")
            img(src="img/reef-life-survey-getting-data.png")

          aside.notes
            p Five files: M1, M2 cryptic/inverts, PQs, sites
            p Can just download everything &ndash; not a huge dataset

      section
        h1 Time for some analysis!

      section
        section
          h2 Data format and semantics

          p What the data looks like
          p Columns &ndash; use to define variable types? (categorical, continuous, structured like coordinates)
          p Show the data in Excel / head / pandas

        section
          h2 But what about the wobbies?

          p No mapping from common name to scientific in the data
          p Wikipedia to the rescue!
          p Which files contain the wobbies

        section
          h2 Is this enough to answer my question?

          ul Dataset limitations:
            li Mostly 'straya, mate (show map, note it doesn't show frequency of surveys)
            li Shallow waters, rocky reef (methods manual)
          p It's good enough as a start, let's dig deeper

      section
        h2 Descriptive statistics

        p Quick overview of slides from http://www.gs.washington.edu/academics/courses/akey/56008/lecture/lecture2.pdf
        p Things to remember: beyond the mean, descriptive statistics, unlearning descriptive statistics
        p Pandas: describe() -- good enough? https://en.wikipedia.org/wiki/Five-number_summary -- quick demo of the power of pandas
        p Mention the need to aggregate data -- single data points
        p Apply the above to the dataset

      section
        h2 Exploratory visualisation

        p Silly example: The mean coordinate for a wobbegong -- median is better as it's actually somewhere where a wobbegong was seen
        p Scatterplot of coordinates? Does it look like continents?
        p Use relative frequency of species from RLS site? (here or in descriptive)
        p Leading to the power of using maps
        p Show frequency explorer?
        p Show how frequency explorer uncovers the coordinate rounding?

      section
        h2 Where to from here?

        p Tentative answer: Depends on where you go -- a predictive model can give a probability estimate with error bars
        p Process chart from https://en.wikipedia.org/wiki/Exploratory_data_analysis
        p connect to building a model, extracting features

      section
        h1 Questions?

    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script.
      Reveal.initialize({
        controls: true,
        controlsTutorial: false,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        dependencies: [
          {
            src: 'lib/js/classList.js',
            condition: function() { return !document.body.classList; }
          },
          {
            src: 'plugin/markdown/marked.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/markdown/markdown.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() { hljs.initHighlightingOnLoad(); }
          },
          {
            src: 'plugin/zoom-js/zoom.js',
            async: true
          },
          {
            src: 'plugin/notes/notes.js',
            async: true
          }
        ]
      });
