@import 'gridle/gridle';

// setup the grid
@include gridle_setup((
  context: 12,
  gutter-width: 20px,
  states-classes: true
));

// register special columns
@include gridle_register_column("1on5", 1, 5);
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(3, left);
@include gridle_register_clear_each(12, both);
@include gridle_register_default_states();
@include gridle_generate_classes();

.container {
  margin: 0 auto;
  max-width: 960px;
  background: #FFF;
}

[class*="gr-"] {
  @include gridle_set((
    mobile: (
      grid: 12,
      push: 0,
      pull: 0,
      prefix: 0,
      suffix: 0
    )
  ));
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
  background: #D1D1D1;
  color: #000;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

h4 {
  font-size: 12px;
  font-weight: 500;
}

p {
  margin: 15px 0;
  line-height: 22px;
}

ol {
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 15px 0;
    padding: 0 0 0 35px;
    position: relative;
  }

  .number {
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
    background: #E9E9E9;
    font-weight: 500;
    color: #333;
  }
}

.result-summary {
  text-align: center;
  border: 1px #888 solid;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px;

  .chart-description {
    text-align: left;
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

#error-message {
  background-color: #ff818f;
  padding: 10px;
  border-radius: 4px;
}

/* Form Styling */
.form-group {
  margin: 0 0 30px 0;
}

.form-title {
  margin: 20px;
}

.form-group-title {
  padding: 10px 20px;
  color: #212121;
  border-bottom: 1px solid #E9E9E9;
}

.form-buttons {
  padding: 15px;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0 10px 0 20px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  overflow: hidden;
  cursor: pointer;
}

label {
  display: block;
  float: left;
  min-width: 40%;
  line-height: 50px;
  font-size: 14px;
  cursor: pointer;
}

input {
  font-family: 'Helvetica Neue', sans-serif;

  &:focus {
    outline: none;
  }
}

input[type="number"] {
  padding: 5px;
  margin: 5px 0;
  float: right;
  font-size: 15px;
  background: none;
  box-sizing: border-box;
  text-align: right;
  border: solid #A9A9A9 1px;
  border-radius: 4px;
  line-height: 30px;
  cursor: pointer;
  background: #F0F8FF;
  width: 40%;

  -moz-appearance:textfield;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="submit"],
input[type="reset"] {
  border-radius: 4px;
  padding: 10px 15px;
  background: rgba(8, 24, 198, 0.76);
  border: 1px solid #E9E9E9;
  font-weight: 600;
  cursor: pointer;
  color: #EEFFFF;
  font-size: 13px;
  display: inline-block;

  &:hover {
    color: #c6c6c6;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

input[type="reset"] {
  background: #FFF;
  color: #444;
  margin-left: 5px;
  font-weight: 400;

  &:hover {
    color: #E84A4A;
  }
}

.dist-values {
  color: grey;
  font-size: 10px;
  padding: 5px 0;
  float: right;
}

/* Preamble Styling */
.header {
  background: #94D3FA;
  color: #FFF;
  padding: 20px 0;
}

.logo {
  margin-bottom: 0;
}

.tagline {
  font-size: 15px;
  text-align: center;
  margin-top: 8px;
  padding: 0 20px;
}

.note-wrapper {
  padding: 20px;
}

.note {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

/* Sidebar Styling */
.sidebar {
  @include gridle(4 mobile 12 tablet 5);
  height: 100%;
  background: #FFF;
}

.form-group-title.control:before,
.form-group-title.test:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.form-group-title.control:before {
  background: #007AFF;
}

.form-group-title.test:before {
  background: #E93A5E;
}

/* Content Styling */
.content {
  @include gridle(8 mobile 12 tablet 7);
  padding: 20px;
  background: #f5f5f5;
  border-radius: 0 3px 3px 0;
}

.chart {
  margin: 10px 0 0 0;

  + .chart {
    margin-top: 80px;
  }

  &-title {
    text-align: center;
    margin-bottom: 5px;
  }

  &-description {
    font-size: 13px;
    text-align: center;
    margin: 0 0 20px;
    color: #999;

    a {
      color: inherit;
    }
  }

  text { /* Axis labels */
    font-size: 12px;
  }
}

.tick line { /* The little ticks on the X & Y axis */
  stroke: #C9C9C9;
}

.axis path { /* The X & Y Axis paths */
  stroke: #27344B;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  fill: none;
}

/* PDF Plot */
#test-line, #control-line {
  opacity: 0.6;
}

#test-line {
  fill: #E93A5E;
}

#control-line {
  fill: #007AFF;
}

/* Histogram Plot */
#histogram .bar rect {
  fill: #007AFF;
  shape-rendering: crispEdges;
}

/* Quantile Table */
#quantile-table {
  border: none;
  border-collapse: collapse;
  text-align: right;
  margin: 0 auto;

  td {
    padding: 10px;
  }

  td:first-child {
    text-align: left;
  }

  tr:first-child {
    border-bottom: 1px solid #000;
    font-weight: 500;
  }
}
