@import "grid";

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
  background: #F1F1F1;
  color: #000;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 12px;
  font-weight: 500;
}

p {
  margin: 15px 0;
  line-height: 22px;
}

ol {
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 15px 0;
    padding: 0 0 0 35px;
    position: relative;
  }

  .number {
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
    background: #E9E9E9;
    font-weight: 500;
    color: #333;
  }
}

.text-center {
  text-align: center;
}

/* Form Styling */
.form-group {
  margin: 0 0 30px 0;
}

.form-title {
  margin: 20px;
}

.form-group-title {
  padding: 10px 20px;
  color: #212121;
  border-bottom: 1px solid #E9E9E9;
}

.form-buttons {
  padding: 15px;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0 10px 0 20px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  overflow: hidden;
  cursor: pointer;
}

label {
  display: block;
  float: left;
  min-width: 40%;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
}

input {
  font-family: 'Helvetica Neue', sans-serif;

  &:focus {
    outline: none;
  }
}

input[type="number"] {
  padding: 5px;
  margin: 5px 0;
  float: right;
  font-size: 15px;
  background: none;
  box-sizing: border-box;
  text-align: right;
  border: none;
  line-height: 30px;
  cursor: pointer;
  background: #F0F8FF;
  max-width: 50%;

  -moz-appearance:textfield;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="submit"],
input[type="reset"] {
  border-radius: 3px;
  padding: 10px 15px;
  background: #F7F7F7;
  border: 1px solid #E9E9E9;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  font-size: 13px;
  display: inline-block;

  &:hover {
    color: #555;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

input[type="reset"] {
  background: #FFF;
  color: #444;
  margin-left: 5px;

  &:hover {
    color: #E84A4A;
  }
}

.prior-values {
  text-align: right;
  margin: 0;
  color: grey;
  font-size: 10px;
  padding: 0 5px;
  float: right;
}

/* Preamble Styling */
.header {
  padding: 35px 10px 25px;
}

.logo {
  margin-bottom: 0;
}

.tagline {
  color: #999;
  font-size: 15px;
  text-align: center;
  margin-top: 8px;
}

.note-wrapper {
  padding: 20px;
}

.note {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

/* Sidebar Styling */
.sidebar {
  @include gridle(4 mobile 12 tablet 4);
  height: 100%;
  background: #FFF;
  border-radius: 3px 0 0 3px;
  border-right: 3px solid #F7F7F7;
}

.form-group-title.control:before,
.form-group-title.test:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.form-group-title.control:before {
  background: #007AFF;
}

.form-group-title.test:before {
  background: #E93A5E;
}

/* Content Styling */
.content {
  @include gridle(8 mobile 12 tablet 8);
  padding: 20px;
  background: #FCFCFC;
  border-radius: 0 3px 3px 0;

  &.full-width {
    @include gridle(12);
    margin-left: 0;
    border-radius: 3px;
    background: #FFF;
    padding: 20px 20px 40px 40px;
  }
}

.chart {
  margin: 10px 0 0 0;

  + .chart {
    margin-top: 80px;
  }

  &-title {
    text-align: center;
    margin-bottom: 5px;
  }

  &-description {
    font-size: 13px;
    text-align: center;
    margin: 0 0 20px;
    color: #999;
  }

  text { /* Axis labels */
    font-size: 12px;
  }
}

.tick line { /* The little ticks on the X & Y axis */
  stroke: #C9C9C9;
}

.axis path { /* The X & Y Axis paths */
  stroke: #27344B;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  fill: none;
}

/* PDF Plot */
#pdfplot #testLine,
#pdfplot #controlLine {
  opacity: 0.6;
}

#pdfplot #testLine {
  fill: #E93A5E;
}

#pdfplot #controlLine {
  fill: #007AFF;
}

/* Histogram Plot */
#histogram .bar rect {
  fill: #007AFF;
  shape-rendering: crispEdges;
}

/* Quantile Table */
#quantile-table {
  border: none;
  border-collapse: collapse;
  text-align: right;
  margin: 0 auto;

  td {
    padding: 10px;
  }

  td:first-child {
    text-align: left;
  }

  tr:first-child {
    border-bottom: 1px solid #000;
    font-weight: 500;
  }
}
