doctype html
html(lang='en')
  head
    title Reef Life Survey frequency explorer
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.min.css')

  body.loading
    .container-fluid
      .row: .map.js-map
      .row
        .col-sm-8.col-sm-offset-2
          .js-error-container.hidden: .alert.alert-danger Data loading failed.
          .js-site-select-container.control-group.hidden
            select#select-site.demo-default
              option(value='') Select a site...
      .row
        #site-info

    script#site-info-template(type='text/template')
      .col-sm-8.col-sm-offset-2
        h3
          | <%= _.size(speciesCounts) %> species recorded in <%= numSurveys %> survey<%= numSurveys > 1 ? 's' : '' %>
          span.pull-right: a.btn.btn-primary.js-export Export data
        .row: .col-sm-12: table.table.table-striped.js-species-table
          thead
            tr
              th: a(href='#', data-sort-column='name') Scientific name
              th: a(href='#', data-sort-column='commonName') Common name
              th: a(href='#', data-sort-column='method') Method
              th: a(href='#', data-sort-column='speciesClass') Class
              th Links
              th: a(href='#', data-sort-column='-count') Surveys seen
          tbody

    script#species-count-row-template(type='text/template')
      tr
        td <%= name %>
        td <%= commonName %>
        td <%= method %>
        td <%= speciesClass %>
        td
          a(href!='http://www.fishbase.se/summary/<%= name.replace(" ", "-") %>.html', target='_blank') FishBase
          = ' | '
          a(href!='http://images.google.com/images?hl=en&q=<%= name.replace(" ", "+") %>&btnG=Search+Images&gbv=2',
            target='_blank') Google Image
        td.text-left <%= count %> (<%= percentage %>%)

    script(src='main.min.js')
