@import 'node_modules/bootstrap/less/bootstrap';  // TODO: drop unnecessary components
@import 'node_modules/selectize/src/less/selectize.bootstrap3';

.map {
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
}

iframe {
  border: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.loading {
  background: url('spinner.gif') no-repeat center;
}
