doctype html
html(lang='en')
  head
    title Reef Life Survey frequency explorer
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.min.css')

  body.loading
    .container-fluid
      .row: .map.js-map
      .row: .col-md-12.col-lg-10.col-lg-offset-1
        .js-error-container.hidden: .alert.alert-danger Data loading failed.
        .js-site-select-container.control-group.hidden
          // Inline style needed to work around select2 issues
          select(multiple='multiple', style='width: 100%;')
        #site-info

    script#site-info-template(type='text/template')
      .row.table-heading
        .col-sm-6
          | <%= _.size(speciesCounts) %> species recorded in <%= numSurveys %> survey<%= numSurveys === 1 ? '' : 's' %>
          | <%= siteCodes.length === 1 ? '' : ' across ' + siteCodes.length + ' sites' %>
        .col-sm-6.text-right
          a.btn.btn-default.js-clear-selection Clear
          = ' '
          a.btn.btn-default.js-export Export
          = ' '
          a.btn.btn-default(href!='<%= flashcardsUrl %>?siteCodes=' + "<%= siteCodes.join(',') %>",
                            target='_blank') Flashcards
          = ' '
          a.btn.btn-default.js-images Images
      .table-responsive: .species-table.js-species-table
        .row.js-species-table-head
          .col-sm-4: a(href='#', data-sort-column='name') Scientific name
          .col-sm-4: a(href='#', data-sort-column='commonName') Common name
          .col-sm-1: a(href='#', data-sort-column='method') Method
          .col-sm-1: a(href='#', data-sort-column='-count') Surveys seen
          .col-sm-2 Links
        .js-species-table-body

    script#species-count-row-template(type='text/template')
      .row
        .col-sm-4 <i><%= name %></i>
        .col-sm-4 <%= commonName %>
        .col-sm-1 <%= method %>
        .col-sm-1 <%= count %> (<%= percentage %>%)
        .col-sm-2
          span(class!="<%= url ? '' : 'hidden' %>")
            a(href!='<%= url %>', target='_blank') RLS
            = ' | '
          a(href!='http://images.google.com/images?hl=en&q=<%= name.replace(" ", "+") %>&btnG=Search+Images&gbv=2',
            target='_blank') Google
      <%= imageRows %>

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCB7yf2Q30bz9qnsd0wy6KvtdTGyke7Fag' +
             '&libraries=drawing,geometry')
  script(src='main.min.js')
