doctype html
html(lang='en')
  head
    title Reef Life Survey frequency explorer
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.min.css')

  body.loading
    .container-fluid
      .row: .map.js-map
      .row: .col-md-12.col-lg-10.col-lg-offset-1
        .js-error-container.hidden: .alert.alert-danger Data loading failed.
        .js-site-select-container.control-group.hidden
          // Inline style needed to work around select2 issues
          select(multiple='multiple', style='width: 100%;')
        #site-info

    script#site-info-template(type='text/template')
      .row.table-heading
        .col-sm-6
          | <%= _.size(speciesCounts) %> species recorded in <%= numSurveys %> survey<%= numSurveys === 1 ? '' : 's' %>
          | <%= siteCodes.length === 1 ? '' : ' across ' + siteCodes.length + ' sites' %>
        .col-sm-6.text-right
          a.btn.btn-default.js-clear-selection Clear
          = ' '
          a.btn.btn-default.js-export Export
          = ' '
          a.btn.btn-default(href!='/tools/rls/flashcards/?siteCodes=' + "<%= siteCodes.join(',') %>",
                            target='_blank') Flashcards
          = ' '
          a.btn.btn-default.js-images Images
      .table-responsive: table.table.table-condensed.species-table.js-species-table
        thead
          tr
            th: a(href='#', data-sort-column='name') Scientific name
            th: a(href='#', data-sort-column='commonName') Common name
            th: a(href='#', data-sort-column='method') Method
            th Links
            th: a(href='#', data-sort-column='-count') Surveys seen
        tbody

    script#species-count-row-template(type='text/template')
      tr
        td <%= name %>
        td <%= commonName %>
        td <%= method %>
        td
          span(class!="<%= url ? '' : 'hidden' %>")
            a(href!='<%= url %>', target='_blank') RLS
            = ' | '
          a(href!='http://www.fishbase.se/summary/<%= name.replace(" ", "-") %>.html', target='_blank') FishBase
          = ' | '
          a(href!='http://images.google.com/images?hl=en&q=<%= name.replace(" ", "+") %>&btnG=Search+Images&gbv=2',
            target='_blank') Google Image
        td.text-left <%= count %> (<%= percentage %>%)
      tr.image-row.js-image-row <%= imageRow %>

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCB7yf2Q30bz9qnsd0wy6KvtdTGyke7Fag' +
             '&libraries=drawing,geometry')
  script(src='main.min.js')
