@import '../node_modules/bootstrap/less/bootstrap';  // TODO: drop unnecessary components
@import '../node_modules/select2/dist/css/select2.css';
@import '../common.css.tmp';

.map {
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
}

.map.alert {
  text-align: center;
  height: auto;
}

iframe {
  border: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #1E2225;
}

#site-info {
  color: #fff;
}

.species-table.table {
  td img {
    width: 250px;
  }

  tbody > tr > td {
    border-top: 1px solid #333;
  }

  tbody > tr.image-row > td {
    border-top: none;
    padding-bottom: 15px;
  }

  a {
    color: #378fc0;
  }

  a:focus, a:hover {
    color: #d3d3d3;
  }
}

.table-heading {
  padding: 10px 0;
  font-size: 20px;
}
