doctype html
html(lang="en")
  head
    title Ask why! Finding motives, causes, and purpose in data science

    meta(name="description",
         content="This talk discusses three data science Whys: Why do stakeholders want you to do something? " +
                 "Why do certain outcomes come about? And why are we doing this?")
    meta(name="author", content="Yanir Seroussi")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(rel="stylesheet", href="css/reveal.css")
    link(rel="stylesheet", href="css/theme/night.css")
    link(rel="stylesheet", href="lib/css/zenburn.css")
    link(rel="stylesheet", href="custom.css")

    // Print and PDF exports
    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

    <!--[if lt IE 9]><script src="lib/js/html5shiv.js"></script><![endif]-->

  body
    .reveal: .slides
      section
        h1 Ask Why!
          small Finding motives, causes, and purpose in data science
        h4 Yanir Seroussi
        h6.
          <a href="https://yanirseroussi.com" target="_blank">yanirseroussi.com</a>
          |
          <a href="https://twitter.com/yanirseroussi" target="_blank">@yanirseroussi</a>
          |
          <a href="https://linkedin.com/in/yanirseroussi" target="_blank">linkedin.com/in/yanirseroussi</a>
        h4.
          Note: This talk is also available as
          <a target="_blank"
          href="https://yanirseroussi.com/2016/09/19/ask-why-finding-motives-causes-and-purpose-in-data-science/">a blog
          post</a> and as <a href="http://www.youtube.com/watch?v=2wqu-drqlpo" target="_blank">a video</a>.

      section
        section
          h2 Thanks Phil!
          img(src="img/phil-brierley.jpg")

        section
          blockquote.
            Are you doing anything on 6th May next year? I'm organising an event and need a passionate data scientist
            to tell it as it is! Let me know if you are interested, and what you would like to talk about - hopefully
            something technical and thought provoking.
          .img-source-caption - Phil Brierley, 4 December 2015

        section
          h3 General outline

          p Asking why to:
          table.full-width
            tr
              td.left Uncover stakeholder motives
              td.right: i [telling it as it is]
            tr
              td.left Infer causal structures
              td.right: i [hopefully technical]
            tr
              td.left Find your purpose
              td.right: i [hopefully thought-provoking]

        section
          h3 Thanks Eugene and Fabian! <small class="muted">[Sydney Special]</small>
          blockquote.
            Hi Fabian and Yanir,<br>
            Time for Yanir to tell us something new. Could you please arrange for him to present.<br>
            Cheers,<br>
            Eugene
          .img-source-caption - Eugene Dubossarsky, 6 May 2016

      section
        section
          h2 Uncovering stakeholder motives
          a(href="https://www.youtube.com/watch?v=XqfwYkpOLg4", target="_blank")
            img(src="img/dilbert-boss.jpg", height=500, alt="Dilbert and Pointy Haired Boss")

        section
          h3 A not-so-imaginary scenario...

          p.fragment.
            <b>Client:</b> I need a model to predict churn.
          p.fragment.
            <b>Younger me:</b> Sure, I'll plow through your data and use deep learning to build the best model ever!
            It's going to be awesome!

          p.fragment.center: i ...a few weeks later...

          p.fragment.
            <b>Younger me:</b> The model is ready! It's super-accurate, with the most predictive feature being tenure
            with the company.
          p.fragment.
            <b>Client:</b> Thanks! We don't really have time to use this model at the moment, as our churn rates are
            actually pretty low. Let's talk again when this becomes a problem.

        section
          h3 Better ask why

          p.fragment.
            <b>Client:</b> I need a model to predict churn.
          p.fragment.
            <b>Current me:</b> Why do you need a model to predict churn? What are you going to do with it?

          p.fragment.center: i ...a few minutes later...

          p.fragment.
            <b>Current me:</b> So what you really want is to reduce churn, because you assume that preventable churn is
            costing you $10M per year. Hence, you'd be willing to pay for a system that not only predicts churn, but
            also schedules the most effective interventions to prevent it based on the customer's personal
            circumstances.
          p.fragment.
            <b>Client:</b> Correct! Please build me this magical system!

        section
          h3 Possible answers to <i>why do you need a model?</i>

          p.fragment: i It'll look good on my performance review
          p.fragment.indent Run away!
          p.fragment: i We always use a model, even if using it is worse than random
          p.fragment.indent Run away, even faster. Sounds like they're unlikely to see business value in data science.
          p.fragment: i We want to understand what's causing churn
          p.fragment.indent Be careful with your modelling, e.g., short tenure doesn't necessarily <b>cause</b> churn.

      section
        section
          h2 Inferring causal structures

          a(href="http://www.causality.inf.ethz.ch/cause-effect.php", target="_blank")
            img(src="img/cause-effect.gif", alt="Cause and effect chicken & egg")

        section
          h3 Classic example: Simpson's Paradox

          table.center-cell-text.fragment(data-fragment-index=0)
            tr
              td
              td
              td Population size
              td Recovered? (E)
              td Recovery rate
            tr: td.left: b Everyone
            tr
              td.left.indent Treated
              td.small C
              td 40
              td 20
              td 0.5
            tr
              td.left.indent Untreated
              td.small &not; C
              td 40
              td 16
              td 0.4
            tr: td.left: b Females
            tr
              td.left.indent Treated
              td.small F, C
              td 10
              td 2
              td 0.2
            tr
              td.left.indent Untreated
              td.small F, &not;C
              td 30
              td 9
              td 0.3
            tr: td.left: b Males
            tr
              td.left.indent Treated
              td.small &not;F, C
              td 30
              td 18
              td 0.6
            tr
              td.left.indent Untreated
              td.small &not;F, &not;C
              td 10
              td 7
              td 0.7

          .img-source-caption.pad-top.fragment(data-fragment-index=0).
            - Judea Pearl,
            <a href="http://bayes.cs.ucla.edu/R264.pdf" target="_blank">Simpson's Paradox: An Anatomy</a>

        section
          h3 Should we prescribe the treatment to a patient?

          p.fragment If we don't know their gender...
            span.fragment.indent Yes! P(E|C) > P(E|&not;C)

          p.fragment If they're female...
            span.fragment.indent No! P(E|C, F) < P(E|&not;C, F)

          p.fragment If they're male...
            span.fragment.indent No! P(E|C, &not;F) < P(E|&not;C, &not;F)

          img.fragment(src="img/lol-srsly.jpg")

        section.causal-assumptions
          h3 Pearl: Causal assumptions are essential

          p.fragment <b>Assumption:</b> Gender affects treatment uptake and recovery
          p.indent.fragment.
            &rarr; Follow the gender-specific measures and never prescribe C

          p.fragment.
            <b>Different scenario:</b> F is high blood pressure, the treatment affects blood pressure, and blood
            pressure affects recovery
          p.indent.fragment.
            &rarr; Follow the aggregated measures and always prescribe C

          img.fragment(src="img/simpsons-paradox-causal-assumptions.png")

          p.fragment.
            <b>Generally:</b> The decision whether to use F to predict E can't only depend on the data

        section
          h3 Some flavours of causality

          ul
            li.fragment Graphical models: Pearl and many others
              ul
                li Vanilla Bayesian networks: Time as an afterthought
                li Dynamic Bayesian networks: Hard to model long-term effects and non-discrete time intervals
            li.fragment Granger-causality: Can past values of X be used to forecast Y?
              ul
                li Not really causality, more like temporal correlation
            li.fragment Kleinberg: Temporal logic
              ul
                li Doesn't shy away from philosophical discussions
                li Still early days, practical use unclear

        section
          h3 Cause of frustration #1:<br>No single definition

          blockquote.full-width.
            There is simply no unified philosophical theory of what causes are, and no single foolproof computational
            method for finding them with absolute certainty. What makes this even more challenging is that, depending on
            one's definition of causality, different factors may be identified as causes in the same situation, and it
            may not be clear what the ground truth is.
          .img-source-caption.
            - Samantha Kleinberg,
            <a href="http://www.skleinberg.org/why/" target="_blank">Why: A Guide to Finding and Using Causes</a>

        section
          h3 Cause of frustration #2:<br>Need for untested assumptions

          blockquote.full-width.
            We know, from first principles, that any causal conclusion drawn from observational studies must rest on
            untested causal assumptions. Cartwright (1989) named this principle 'no causes in, no causes out,' which
            follows formally from the theory of equivalent models (Verma and Pearl, 1990); for any model yielding a
            conclusion C, one can construct a statistically equivalent model that refutes C and fits the data equally
            well.
          .img-source-caption.
            - Judea Pearl, <a href="http://ftp.cs.ucla.edu/pub/stat_ser/r391.pdf" target="_blank">Trygve Haavelmo and
            the Emergence of Causal Calculus</a>

        section
          h3 Cause of frustration #3:<br>Unreasonable people

          blockquote.full-width.
            Our findings parallel those of previous work and show that endorsement of free-market
            economics predicted rejection of climate science. Endorsement of free markets also predicted the rejection
            of other established scientific findings, such as the facts that HIV causes AIDS and that smoking causes
            lung cancer. We additionally show that, above and beyond endorsement of free markets, endorsement of a
            cluster of conspiracy theories (e.g., that the Federal Bureau of Investigation killed Martin Luther King,
            Jr.) predicted rejection of climate science as well as other scientific findings. Our results provide
            empirical support for previous suggestions that conspiratorial thinking contributes to the rejection of
            science.
          .img-source-caption.
            - Lewandowsky et al.,
            <a href="http://pss.sagepub.com/content/24/5/622" target="_blank">NASA Faked the Moon
            Landing&mdash;Therefore, (Climate) Science Is a Hoax: An Anatomy of the Motivated Rejection of Science</a>

        section
          h3 Why bother with causality then?

          ul.fragment
            li Properly encode causal assumptions
            li Form plausible explanations
            li Generate stable predictions
            li Schedule effective interventions
            li Deal with political implications

        section
          h3 Coming up with causal assumptions <small class="muted">[Sydney Special]</small>
          h6.fragment(data-fragment-index=0) Bradford Hill criteria for separating association from causation

          table.medium.fragment(data-fragment-index=0)
            tr
              td Strength
              td How strong is the association?
            tr
              td Consistency
              td Has association been repeatedly observed in various cases?
            tr
              td Specificity
              td Are specific X instances associated with specific Y instances?
            tr
              td Temporality
              td Do we know that X leads to Y or are they observed together?
            tr
              td Biological gradient
              td Is Y a known function of X, e.g., dose-response curve?
            tr
              td Plausibility
              td Is there a mechanism that can explain how X causes Y?
            tr
              td Coherence
              td Does the association conflict with our current knowledge?
            tr
              td Experiment
              td Can controlled experiments support a causal hypothesis?
            tr
              td Analogy
              td Do we know of any similar cause-and-effect relationships?

        section
          h3 Experiments are great, but not perfect <small class="muted">[Sydney Special]</small>

          blockquote.center.margin-top If you can run an experiment, you should!
          .img-source-caption.
            - Tiberio Caetano,
            <a href="https://drive.google.com/file/d/0B4u2T5tlDOAPYUhPZ0VXSlhVaTA/view" target="_blank">How to
            demonstrably make money with personalisation</a>

          p.no-margin.pad-top.fragment(data-fragment-index=0) A/B testing: Selection biases, multiple comparisons
          p.no-margin.fragment(data-fragment-index=1) Smoking/Climate/Nutrition: Practicality, corporate interests
          p.no-margin.fragment(data-fragment-index=2) Well-designed experiments may yield strange results
          blockquote.fragment(data-fragment-index=2).
            Remote intercessory prayer said for a group of patients is associated with a shorter hospital stay and
            shorter duration of fever in patients with a bloodstream infection, even when the intervention is performed
            4&ndash;10 years after the infection.
          .img-source-caption.fragment(data-fragment-index=2).
            - Leonard Leibovici, <a href="http://www.bmj.com/content/323/7327/1450" target="_blank">Effects of remote,
            retroactive intercessory prayer on outcomes in patients<br>with bloodstream infection: randomised controlled
            trial</a>

      section
        section
          h2 Finding your purpose

          a(href="http://johnriordan.bigcartel.com/product/exploited-ape", target="_blank")
            img(src="img/exploited-ape-john-riordan.jpg", alt="Exploited Ape by John Riordan")

        section
          h3 My path and motivations so far

          ul
            li.fragment Technion BSc: Interesting, portable profession
            li.fragment Intel: Just wanted to write software
            li.fragment Qualcomm: Wanted to write more interesting software
            li.fragment Monash PhD: Australia, interested in AI & NLP
            li.fragment Google: Wanted Australian work experience, pad CV
            li.fragment Giveable: Australia, early-stage startup, PhD-related
            li.fragment Next Commerce: Sydney, data science, retain Giveable work
            li.fragment Consulting/own projects: Lifestyle, independence
            li.fragment Car Next Door: Values, interests, long-term lifestyle

        section
          h3 Natural progression

          .flow-box Learn a skill
          div &darr;
          .flow-box Find a way to apply it
          div &darr;
          .flow-box Get better, get bored
          div &darr;
          .flow-box Why do I even bother?

        section
          h3 Are you building generalised useless models? Why do you bother?

          ul
            li.fragment No objective definition of meaning
            li.fragment Totally fine to be doing it for money/experience, just be honest
            li.fragment Money doesn't necessarily compensate for Dilbertian suffering and lack of pride in your work
            li.fragment Most data scientists have a choice &ndash; make sure you choose well

      section
        h1 Questions?

    script(src="lib/js/head.min.js")
    script(src="js/reveal.js")
    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        dependencies: [
          {
            src: 'lib/js/classList.js',
            condition: function() { return !document.body.classList; }
          },
          {
            src: 'plugin/markdown/marked.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/markdown/markdown.js',
            condition: function() { return !!document.querySelector( '[data-markdown]' ); }
          },
          {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() { hljs.initHighlightingOnLoad(); }
          },
          {
            src: 'plugin/zoom-js/zoom.js',
            async: true
          },
          {
            src: 'plugin/notes/notes.js',
            async: true
          }
        ]
      });
